<%= stylesheet_link_tag :all %>

<h1>New user</h1>

<% form_tag :action => 'create' do %>

<p><label for="email">Email:</label><br/>
<%= text_field_tag :email, params[:email]  %></p>

<p><label for="password">Password:</label><br/>
<%= password_field_tag :password, params[:password]  %></p>
<p><label for="usertype">UserType:</label><br/>
<%= text_field_tag :usertype, params[:usertype]  %></p>

<p><%=submit_tag 'Create' %></p>

<%= link_to 'Back', users_path %>
<% end %>
