<%= stylesheet_link_tag :all %>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%=h @user.lastname %>
</p>

<p>
  <b>Usertype:</b>
  <%=h @user.usertype %>
</p>

<% @fieldtypes.each do |field| %>
  <p>
  <b><%=h field.name %>:</b>
  <% temp = field.data_fields.find(:first, :conditions => {:user_id => params[:id]}) %>
  <% if temp != nil%>
    <%= temp.value %>
  <% end %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
