<%= stylesheet_link_tag :all %>

<h1>User Login</h1>

<% if flash[:notice] %>
<p> <b><%= flash[:notice] %></b></p>
<% end %>

<% form_tag :action => 'login' do %>
<!--[form:user]-->
<p><label for="email">Email:</label><br/>
<%= text_field_tag :email, params[:email]  %></p>

<p><label for="password">Password:</label><br/>
<%= password_field_tag :password, params[:password]  %></p>
<!--[eoform:user]-->

<p><%= submit_tag 'Login' %></p>
<% end %>
